header {
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(248,248,248,1) 29%, rgba(229,229,229,1) 79%, rgba(224,224,224,1) 98%, rgba(226,226,226,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(248,248,248,1) 29%,rgba(229,229,229,1) 79%,rgba(224,224,224,1) 98%,rgba(226,226,226,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(248,248,248,1) 29%,rgba(229,229,229,1) 79%,rgba(224,224,224,1) 98%,rgba(226,226,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 );
}

img {
	vertical-align: baseline;
}

.navbar-brand {
	font-size: 34pt;
	text-align: center;
	font-family: "Lobster";
}

.navbar-brand span {
	color: #ff7700;
}

.navbar-toggler {
	border-color: #ff7700;
	background:linear-gradient(to top,#FF6C00,#FFA100);
}

.navbar-toggler-icon {
	color: white;
}

nav {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

li {
	text-align: center;
	align-items: center;
	border-bottom: 5px solid transparent;
	font-size: 16pt;
	font-family: "Helvetica";
}

div {
	display: flex;
}

ul {
	justify-content: center;
	align-content: center;
}

.active, li:hover {
	background: rgb(255,255,255);
	border-bottom-color:#ff7d00;
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(243,241,241,1) 28%, rgba(212,205,205,1) 75%, rgba(201,193,193,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(243,241,241,1) 28%,rgba(212,205,205,1) 75%,rgba(201,193,193,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,241,241,1) 28%,rgba(212,205,205,1) 75%,rgba(201,193,193,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c9c1c1',GradientType=0 );
}

.linkGallery {
	border-left: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
}

.linkMembers {
 	border-right: 1px solid #d7d7d7;
 }

main h1 {
	font-family: "Helvetica", bold;
	font-size: 20pt;
	font-weight: bolder;
	text-align: center;
	padding-top: 31px;
	padding-bottom: 38px;
}

form {
	text-align: center;
	align-content: center;
}

input[type="text"] {
    height: 60px;
    width: 440px;
	border-radius: 5px;
	background-color: white;
	background: rgb(226,218,218);
	background: -moz-linear-gradient(top, rgba(226,218,218,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(226,218,218,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(226,218,218,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 15%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2dada', endColorstr='#ffffff',GradientType=0 );
}

#browse{
    margin-left: -100px;
	margin-bottom: -10px;
	cursor: pointer;
}

form button {
	margin-left: 14px;
	min-height: 61px;
	border: none;
	border-radius: 5px;
	min-width: 160px;
	color: white;
	font-family: "Helvetica";
	font-weight: bolder;
	background:linear-gradient(to top,#ff6900,#ffa300);
	padding: 0px;
}

input[type="file"] {
	display: none;
}


.photos {
	padding-top: 75px;
	justify-content: center;
}

.card {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 0;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

.card-img-top {
	border-radius: 0;
}

.search-button {
	position: absolute;
	top: 30%;
	left: 45%;
	opacity: 0.6;
	cursor: pointer;
	display: none;
}

.bottom-left {
  position: absolute;
  bottom: 27%;
  left: 7%;
  font-family: "Bebas Neue";
  color: white;
  font-size: 19pt;
  opacity: 0.7;
}

.card-body {
	padding-right: 0;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

.card-body p {
	margin-bottom: 0px;
}

.star-button {
	max-height: 22px;
	max-width: 22px;
	margin-left: 15px;
	margin-top: 2px;
	cursor: pointer;
}

.card-text {
	color: #aca9a9;
	font-size: 18px;
}

.card-footer {
	padding-right: 0 !important;
}

small {
	margin-right: 13px;
	color: #aca9a9;
	font-size: 18px;
}

.card-footer > button {
	border: none;
	border-radius: 50%;
	box-shadow: inset 0.5px 1px rgba(0,0,0,1);
	width: 22px;
	height: 22px;
	background-color: #b1aeae;
	vertical-align: baseline !important;
}

.facebook-logo, .twitter-logo, .pinterest-logo{
	margin-right: 5px;
}

.tumblr-logo {
	margin-right: 0px;
}

.twitter-logo:hover {
	background-color: #32CCFE;
}

.facebook-logo:hover {
	background-color: #385694;
}

.pinterest-logo:hover{
	background-color: #B70512;
}

.tumblr-logo:hover {
	background-color: #000000;
}

.card-gradient {
background: rgb(255,255,255);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(253,253,253,1) 94%, rgba(230,230,230,1) 100%);
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(253,253,253,1) 94%,rgba(230,230,230,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(253,253,253,1) 94%,rgba(230,230,230,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 );
}

footer {
	margin-top: 63px;
	margin-bottom: 30px;
}

footer p {
	font-family: "Arial", regular;
	font-size: 16pt;
	color: #aca9a9;
	padding-right: 3%;
}